<div class='p-10 pt-4'>
  <div
    class='flex shrink-0 items-center p-4 font-sans text-2xl font-semibold leading-snug text-blue-gray-900 antialiased'
  >
    Update promotion
  </div>
  <div
    class='relative border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 p-4 font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased'
  >
    <form id='editForm'>
    <div class="grid grid-cols-2 gap-4">
<div>

      <div class='mb-5'>
        <label
          for='PromotionName'
          class='mb-3 block text-base font-medium text-[#07074D]'
        >
          Promotion Name
          <span class='text-red-400'>*</span>
        </label>
        <input
          type='text'
          name='PromotionName'
          id='PromotionName'
          placeholder='Promotion Name'
          class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
          required
          value='{{promotion.PromotionName}}'
        />
      </div>
      <div class='mb-5'>
        <label
          for='DiscountPercent'
          class='mb-3 block text-base font-medium text-[#07074D]'
        >
          Discount percentage
          <span class='text-red-400'>*</span>
        </label>
        <input
          type='number'
          max='100'
          min='0'
          name='DiscountPercent'
          id='DiscountPercent'
          placeholder='Discount Percent'
          class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
          required
          value='{{promotion.DiscountPercent}}'
        />
      </div>
      <div class='mb-5'>
        <label
          for='ExpiredDate'
          class='mb-3 block text-base font-medium text-[#07074D]'
        >
          Expired Date
          <span class='text-red-400'>*</span>
        </label>
        <input
          type='date'
          name='ExpiredDate'
          id='ExpiredDate'
          class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
          required
          value={{formatDate promotion.ExpiredDate}}
        />
      </div>
        <div class='mb-5'>
        <label
          for='IsAvailable'
          class='mb-3 block text-base font-medium text-[#07074D]'
        >Is Available</label>
        <input
          type='checkbox'
          name='IsAvailable'
          id='IsAvailable'
          class='rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
          {{#if promotion.IsAvailable}}checked{{/if}}
        />
    </div>
</div>

  
 <div class="p-10">
    <div class="overflow-hidden border border-gray-200 rounded-lg">
        <div class="overflow-x-auto">
            <div class="min-w-full bg-gray-50 divide-y divide-gray-200">
                <div class="grid grid-cols-3 sticky top-0 bg-gray-50">
                    <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        
                    </div>
                    <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Image
                    </div>
                    <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Book Title
                    </div>
                </div>
                <div class="h-96 overflow-y-auto">
                    <div class="bg-white divide-y divide-gray-200">
                      {{#each bookList}}
                        <div class="grid grid-cols-3">
                            <div class="px-6 py-4 text-sm font-medium text-gray-900">
                              <input type="checkbox" name="book" value="{{BookID}}"
                            {{#if (bookExists BookID ../bookPromotionList)}} checked {{/if}}
                                />

                            </div>
                            <div class="px-6 py-4 text-sm text-gray-500"><img src={{ImageURL}} width="100" /></div>
                            <div class="px-6 py-4 text-sm text-gray-500">{{BookTitle}}</div>
                        </div>
                       {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

   
      <div
        class='flex shrink-0 flex-wrap items-center justify-end p-4 text-blue-gray-500'
      >
   
        <button
          class='middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none'
          type='submit'
        >Update</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/promotion-management/promotionEdit.js'></script>