<div class='container px-8 mt-4'>
  <div class='flex justify-between items-center mb-6'>
    <h1 class='text-2xl font-bold'>Author Inventory</h1>
    <button
      data-ripple-light='true'
      data-dialog-target='dialogCreate'
      class='middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]'
    >
      Create
    </button>

  </div>
  <div class='bg-white shadow-md rounded my-6 overflow-x-auto'>
    <div
      class='flex justify-center max-w-md bg-white rounded-lg h-12 min-w-full'
      x-data="{ search: '' }"
    >
      <input
        type='search'
        id='searchInput'
        class='px-4 py-1 text-gray-800 focus:outline-none w-1/2 rounded-lg'
        placeholder='search'
        x-model='search'
        value='{{~req.query.search~}}'
      />
    </div>
    <table class='min-w-full bg-white'>
      <thead class='bg-gray-100'>
        <tr>

          <th
            class='py-3 px-4 uppercase font-semibold text-sm text-gray-700 text-center'
          >Author name</th>
          <th
            class='py-3 px-4 uppercase font-semibold text-sm text-gray-700 text-center'
          >Bio</th>
          <th
            class='py-3 px-4 uppercase font-semibold text-sm text-gray-700 text-center'
          >Action</th>
        </tr>
      </thead>
      <tbody class='text-gray-700'>
        {{#each authorList}}
          <tr class='border-t text-center' data-author-id='{{AuthorID}}'>
            <td class='py-3 px-4'>{{AuthorName}}</td>
            <td class='py-3 px-4'>
              {{Bio}}
            </td>

            <td class='py-3 px-4 flex justify-center gap-2'>
              <button
                data-ripple-light='true'
                data-dialog-target='dialogEdit'
                class='middle none center rounded-lg bg-gradient-to-tr from-yellow-600 to-yellow-400 p-3 font-sans text-xs font-bold uppercase text-white shadow-md shadow-yellow-500/20 transition-all hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-pencil-square'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'
                  />
                  <path
                    fill-rule='evenodd'
                    d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z'
                  />
                </svg>
              </button>
              <button
                data-ripple-light='true'
                data-dialog-target='dialogDelete'
                class='middle none center rounded-lg bg-gradient-to-tr from-red-600 to-red-400 p-3 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 active:opacity-[0.85]'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-trash'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z'
                  />
                  <path
                    d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z'
                  />
                </svg>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class='flex justify-between items-center py-3'>
    {{#if (hasPagination pagyInfo.pageCount)}}
      <div class='hidden sm:flex-1 sm:flex sm:items-center sm:justify-center'>
        <div>
          <nav class='relative z-0 inline-flex shadow-sm'>
            {{#with (previous pagyInfo.page path req.query)}}
              <a
                href='{{path}}'
                class='{{class}}
                  relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150'
                aria-label='Previous'
              >
                <svg class='h-5 w-5' fill='currentColor' viewBox='0 0 20 20'>
                  <path
                    fill-rule='evenodd'
                    d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z'
                    clip-rule='evenodd'
                  />
                </svg>
              </a>
            {{/with}}
            {{#each
              (renderButtonPagy pagyInfo.page pagyInfo.pageCount path req.query)
            }}
              {{#if dot}}
                <span
                  class='-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700'
                >
                  ...
                </span>
              {{/if}}
              {{#if path}}
                <a
                  href='{{path}}'
                  class='{{class}}
                    -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150'
                >
                  {{page}}
                </a>
              {{/if}}
            {{/each}}
            {{#with (next pagyInfo.page pagyInfo.pageCount path req.query)}}
              <a
                href='{{path}}'
                class='{{class}}
                  -ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150'
                aria-label='Next'
              >
                <svg class='h-5 w-5' fill='currentColor' viewBox='0 0 20 20'>
                  <path
                    fill-rule='evenodd'
                    d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
                    clip-rule='evenodd'
                  />
                </svg>
              </a>
            {{/with}}
          </nav>
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{! Create form }}
<div
  data-dialog='dialogCreate'
  class='pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300'
>
  <div
    class='relative m-4 w-2/5 min-w-[70%] max-w-[70%] min-h-[100%] max-h-[100%] rounded-lg bg-white font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl'
  >
    <div
      class='flex shrink-0 items-center p-4 font-sans text-2xl font-semibold leading-snug text-blue-gray-900 antialiased'
    >Add new Author</div>
    <div
      class='relative border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 p-4 font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased'
    >
      <form>

        <div>
          <div class='mb-5'>
            <label
              for='AuthorName'
              class='mb-3 block text-base font-medium text-[#07074D]'
            >Author Name <span class='text-red-400'>*</span></label>
            <input
              type='text'
              name='AuthorName'
              id='AuthorName'
              placeholder='Author Name'
              class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
              required
            />
          </div>
          <div class='mb-5'>
            <label
              for='Bio'
              class='mb-3 block text-base font-medium text-[#07074D]'
            >Author Bio</label>
            <textarea
              name='Bio'
              id='Bio'
              placeholder='Author Bio'
              class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
              rows='5'
            ></textarea>
          </div>
        </div>
        <div
          class='flex shrink-0 flex-wrap items-center justify-end p-4 text-blue-gray-500'
        >
          <button
            data-ripple-dark='true'
            data-dialog-close='true'
            type='button'
            class='middle none center mr-1 rounded-lg py-3 px-6 font-sans text-xs font-bold uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none'
          >Cancel</button>
          <button
            class='middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none'
            type='submit'
          >Create</button>
        </div>
      </form>
    </div>

  </div>
</div>
<script src='/js/author-management/authorTable.js'></script>